.stats{
    background-color: #f0c420;
    flex: 0.3;
    flex-shrink: 0;
    padding: 0 30px 30px 30px;
    color: midnightblue;
    font-weight: bold;
  }

  .stats_container{
      flex-direction: column;
      flex: 1;
      background-color: #f0c420;
      border-radius: 5x;
      border:1px solid #f0c420;
  }

  .stats_header{
      display: flex;
      font-size: 16px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid midnightblue;
      padding: 20px 20px 10px 20px;
      font-weight: 500;

      }