.stats{
    background-color:red;
    flex: 0.3;
    /* flex-shrink: ; */
    padding: 0 30px 30px 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border:3px solid #f0c420;
    overflow: auto;
  }

  .stats_container{
      flex-direction: column;
      flex: 1;
      background-color:red;
      /* border-radius: 5x;
      border:1px solid #f0c420; */
    
      
  }

  .stats_header{
      display: flex;
      font-size: 16px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #f0c420;
      padding: 20px 20px 10px 20px;
      font-weight: bold;
     

      }